# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.py[cod]

# Archivos de log
*.log

# Compilaciones
*.spec
build/
dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp


# Archivos generados por PyInstaller
dist/
build/
*.spec
*.exe
