<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
    <!--Nuestros estilos-->
    <!---<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">--->
    <script src="https://unpkg.com/tablesort@5.2.1/dist/tablesort.min.js"></script>

    <title>Órdenes de producción</title>
</head>
<body>
    <!--Contenedor ordenes-->
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4">Ordenes de producción</h1>
            <form action="/consultar" method="post">
                <textarea name="ordenes" rows="1" class="form-control" placeholder="Introduce varias órdenes separadas por coma"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Consultar Órdenes</button>
            </form>
<!--Listado de órdenes introducidas-->
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nº Orden</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultados %}
  <tr class="{% if r.estado == 'montable' %}table-success{% elif r.estado == 'dudosa' %}table-warning{% elif r.estado == 'no_montable' %}table-danger{% else %}table-secondary{% endif %}">
    <td>{{ r.orden }}</td>
    <td>{{ r.estado }}</td>
    <td>
      <form action="/detalle" method="post">
        <input type="hidden" name="orden" value="{{ r.orden }}">
        <button type="submit" class="btn btn-info btn-sm">Mostrar</button>
      </form>
    </td>
  </tr>
{% endfor %}
    </tbody>
</table>
    </main>
</body>
</html>